<header>
  <nav class="header-nav-inner">
    <div class="page-header">Search <%= item %>s</div>
    <div class="header-nav-inner">
      <a href="<%= item %>s/new">Add <%= item %></a>
    </div>
  </nav>
</header>
